#AboutMe-container {
    display: flex;

    align-items: stretch;
    margin-bottom: 40px;
}

#Aboutheader {
    width: 80%;

}

#Aboutheader-text {
    text-align: center;
    
    
}


#Aboutheader-nav {
    
    width: 20%;
    
    
    
    text-align: center;
    background: rgb(225, 218, 218);
    
    border-radius: 0 0 20px 20px;
}




#Aboutheader-nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
   
    justify-content: space-around;
    
}

#Aboutheader-nav ul a
{
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Adjusts between 1rem to 1.2rem */
    color: black;
}



.aboutme-sections
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(154, 154, 154);

    scroll-margin-top: 60px;
}
/* Why i chose webdev course  */

#course-journey {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */    
    gap: 20px;
    padding: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.journey-section {
    padding: 10px;
}



#journey-image {
    grid-column: span 1;
    justify-self: center;
    width: 50%;
    border-radius: 10px;
}


/* Hobbies */


.skill
{
    display: block;
    width: 80%;
    background: rgb(225, 218, 218);
    border-radius: 20px;
    margin-bottom: 40px;
    
}

.skill-content
{
   display: flex;

   padding: 10px;
   flex: 1;
}

.skill-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    
    
}

.skill-content img
{
    height: 80%;
    width: 20%;
    min-width: 150px;

    border-radius: 20px;
}

.skill-reverse
{
    flex-direction: row-reverse;
}




@media (max-width: 811px)
{
    #course-journey
    {
        
        grid-template-columns: 1fr; /* Stacks columns on top of each other */        
        
    }

    .journey-image
    {
        grid-column: span 1;
    }


    #Aboutheader, #Aboutheader-nav
    {
        width: 100%;
        border-radius: 0px;
    }

    #AboutMe-container
    {
        flex-direction: column;
    }


}



@media (max-width:1000px)
{
    .skill-content 
    {
        flex-direction: column;
    }

    .skill-text
    {
        width: 100%;
    }

    .skill-content img
    {
        align-self: center;
        width: 40%;
    }
}






