#Aboutheader
{
    display: flex;
    justify-content: center;
    border: 2px red dashed;
    
    
    color: white;

    
    
}

#Aboutheader-text
{
    text-align: center;
    width: 80%;
}


#Aboutheader-text h1
{
    font-size: 4rem;
   
}

#Aboutheader-text p
{
    color: black;
    font-size: 1.4rem;
    
}




#Aboutheader img
{
    width: 100%;
    border-radius: 100%;
    
}





#gallary
{
    text-align: center;
    width: 70%;

    align-self: center;
    color: white;

    padding:0 15px 15px 15px;
    background: linear-gradient(157deg, rgba(171,171,171,1) 0%, rgba(28,79,89,1) 59%);
    border-radius: 10px;
}

#gallary h2
{
    font-size: 30px;
}


#gallary-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;

    
}

.gallary-item {
    flex: 1 1 calc(30.33% - 1.5rem);
    position: relative; /* Important for positioning the description */
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;

    
   
}

.gallary-item img {
    width: 100%;
    transition: transform 0.3s ease-in-out;

    object-fit: cover;
    
}

.gallary-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */

    border-radius: 10px;
}

.description {
    position: absolute; 
    
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
    font-size: 1em;
}

.gallary-item:hover .description {
    opacity: 1; /* Show the description on hover */
}


@media (max-width: 768px) {
    #Aboutheader {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center; /* Center-align the text and image */
    }

    #Aboutheader-text
    {
        width: 100%;
    }

    #Aboutheader-imagecontainer {
        width: 50%; /* Adjust image size on smaller screens */
        margin-top: 10px; /* Add space between text and image */
        align-self: center;
    }
}

@media (max-width: 768px) {
    .gallary-item {
        flex: 1 1 calc(50% - 1.5rem); /* Switch to two columns on medium screens */
    }
}

@media (max-width: 480px) {
    .gallary-item {
        flex: 1 1 calc(100% - 1.5rem); /* Switch to one column on small screens */
    }
}