#AboutMe-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: flex-start;

    
    margin-bottom: 40px;
}

#Aboutheader {
    width: 80%;
   

}

#Aboutheader-text {
    text-align: center;
}


#Aboutheader-nav {
    width: 20%;
    height: 100%;
    
    text-align: center;
    background: rgb(225, 218, 218);
    border-radius: 20px;
}




#Aboutheader-nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
   
    justify-content: space-around;
    
}

#Aboutheader-nav ul a
{
    padding: 5px;
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Adjusts between 1rem to 1.2rem */
    
    
    
    color: black;
    

}



/* Hobbies */

#hobbies
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(154, 154, 154);

    scroll-margin-top: 60px;
 
}

.hobby
{
    display: block;
    width: 80%;
    background: rgb(225, 218, 218);
    border-radius: 20px;
    margin-bottom: 40px;
    
}

.hobby-content
{
   display: flex;

   padding: 10px;
   flex: 1;
}

.hobby-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    
    
}

.hobby-content img
{
    height: 100%;
    width: 20%;
    min-width: 150px;

    border-radius: 20px;
}

.hobby-reverse
{
    flex-direction: row-reverse;
}











#gallary
{
    text-align: center;
    width: 70%;

    scroll-margin-top: 60px;
    align-self: center;
    
    padding:0 15px 15px 15px;
    background: linear-gradient(157deg, rgba(171,171,171,1) 0%, rgba(28,79,89,1) 59%);
    border-radius: 10px;
}




#gallary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 10px; /* Space between grid items */
}

.gallary-item {
    position: relative;
    overflow: hidden;
}

.gallary-item img {
    width: 100%;
    height: auto;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background for description */
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallary-item:hover .description {
    opacity: 1; /* Shows description when hovering */
}


@media (max-width:1000px)
{
    .hobby-content 
    {
        flex-direction: column;
    }

    .hobby-text
    {
        width: 100%;
    }

    .hobby-content img
    {
        align-self: center;
    }
}

@media (max-width: 768px) {
    #gallary-grid {
        grid-template-columns: repeat(2, 1fr); /*  2 columns on smaller screens */
    }

    #Aboutheader {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center; /* Center-align the text and image */
    }

    #Aboutheader-text
    {
        width: 100%;
    }

    #Aboutheader-imagecontainer {
        width: 50%; /* Adjust image size on smaller screens */
        margin-top: 10px; /* Add space between text and image */
        align-self: center;
    }
}

@media (max-width: 480px) {
    #gallary-grid {
        grid-template-columns: 1fr; /* Adjust to 1 column on mobile devices */
    }
}




