
form {
    
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #fdc482;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea 
{
    width: 100%;
    
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #fdc482;
}

input[type="text"]:focus,input[type="email"]:focus, textarea:focus {
    outline: 2px rgb(87, 231, 85) solid; 
    border: none;
}

input[type="submit"] 
{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover 
{
    background-color: #45a049;
}
