*{
    
    margin: 0;
    padding: 0;
    text-decoration: none; /*Removes annoying marker under hyperlinks*/
    box-sizing: border-box;
    font-family: monospace;
    
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    
    /* background color */
    


    
    
    /* background-size: cover;
    background-position: center ; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Nav, Main, Footer */
    min-height: 100vh;
}

/* Navigation styling */
nav {
    grid-row: 1; /* Set nav to the first row */
    position: fixed;
    width: 100%;
    background: rgb(124, 147, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h2 {
    font-size: 3rem;
    
}

nav ul {
    display: flex;
    justify-content: flex-end;

    
}

nav a
{
    color: black;
}

nav ul li {
    
    font-size: 1.5rem;
    padding: 8px;
}

.hovereffect:hover {
    border-bottom: 1.5px #3498db solid;
}




/* Main styling */




#main {
    grid-row: 2; /* Set main content to the second row */
    background-color: rgb(85, 103, 156);
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 65px;

    
}



#contentbox
{
    display: flex;
    flex-direction: column;
    
    border: 2px blue solid;
    width: 85%;
    height: 100%;
    align-self: center;
}











/* Footer Styling */



#footer {
    grid-row: 3; /* Set footer to the third row */
    display: flex;
    background-color: rgb(184, 176, 149);
}

#footer a
{
    color: rgb(30, 42, 94);
}



#footer article {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align content in articles */
    justify-content: space-around;
    padding: 15px;
}

#footer article:first-child {
    align-items: flex-end; /* Align the left article to the right */
    margin-left: auto;
}

#footer article:last-child {
    align-items: flex-start; /* Align the right article to the left */
    margin-right: auto;
}



footer img
{
    height: 17px;
    vertical-align: middle;
}

footer ul
{
    vertical-align: middle;
    
}

footer ul li
{
    display: inline;
    
}



@media (max-width:560px)
{
    footer ul li
    {
        display: block;
    }
}

@media (max-width: 510px)
{
    .dissapeartext
    {
        display: none;
        border: 2px red dashed;
    }
}





/* <a target="_blank" href="https://icons8.com/icon/6Fsj3rv2DCmG/twitterx">TwitterX</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */






