#gallary
{
    display: flex;
    width: 80%;
    border: 2px red dashed;
}

#gallary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    padding: 10px;
    background-color: #21305a;
    border-radius: 10px;
    
}

.gallary-item {
    overflow: hidden; /* Ensure images stay within their container */
    border-radius: 10px; /* Rounded corners for images */

    
}

.gallary-item img {
    width: 100%; /* Ensure images take up 100% of the container */

    height: auto; /* Maintain aspect ratio */
    height: 100%; /* TA BORT SEN */
    transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.gallary-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}
