*{
    
    margin: 0;
    padding: 0;
    text-decoration: none; /*Removes annoying marker under hyperlinks*/
    box-sizing: border-box;
    font-family: monospace;
    
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 150vh;


    
    
    /* background-size: cover;
    background-position: center ; */
}




/* navigation styling  */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #ffffff;
    padding: 15px 140px;
    background: rgb(124, 147, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

nav ul {
    display: flex;
    flex: 0.4;
    justify-content: space-around;
    padding: 8px;
    border-radius: 20px;
}

nav ul li {
    font-size: 19px;
}

nav ul li a {
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.hovereffect:hover {
    border-bottom: 1.5px #3498db solid;
}




/* Main styling */


#main {
    padding-top: 68px; /* Adjust this value depending on the height of your nav */
    display: flex;
    align-items: center;
    background-color: rgb(85, 103, 156);
    flex-direction: column;
    flex: 1;
    border: 2px rgb(102, 52, 52) solid;
}



#contentbox
{
    display: flex;
    flex-direction: column;
    
    border: 2px blue solid;
    width: 85%;
    height: 100%;
}











/* Footer Styling */



#footer {
    display: flex;
    justify-content: center; /* Center articles horizontally */
    align-items: center;     /* Align articles vertically */
    background-color: rgb(184, 176, 149);
}

#footer a
{
    color: rgb(30, 42, 94);
}



#footer article {
    flex: 1; /* Make both articles take equal space */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align content in articles */
    justify-content: space-around;
    padding: 15px;
}

#footer article:first-child {
    align-items: flex-end; /* Align the left article to the right */
}

#footer article:last-child {
    align-items: flex-start; /* Align the right article to the left */
}



footer img
{
    height: 17px;
    vertical-align: middle;
}

footer ul
{
    vertical-align: middle;
    
}

footer ul li
{
    display: inline;
    
}









/* <a target="_blank" href="https://icons8.com/icon/6Fsj3rv2DCmG/twitterx">TwitterX</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */






